body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background: #f4f4f4;
}

header, section, footer {
    padding: 20px;
}

header {
    background: #2f4f4f;
    color: #fff;
    text-align: left;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin-bottom: 20px;
    background: #fff;
    padding: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
}

/* New CSS for the About section */
#about {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
}

#about img {
    width: 600px;
    height: auto;
    border-radius: 150px; /* Circular image */
    margin-right: 20px; /* Adds space between the image and the text */
}

#about p {
    flex: 1; /* Allows the text to fill the remaining space */
}

@media (max-width: 600px) {
    header nav ul {
        text-align: center;
    }
    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    #about {
        flex-direction: column; /* Stack image and text vertically on small screens */
    }

    #about img {
        margin-bottom: 10px; /* Add space below the image */
        margin-right: 0; /* Remove right margin */
    }
}

#social-media a {
    margin: 0 30px; /* Increase the horizontal margin to add more space between icons */
}
